$fuente: 'Urbanist', sans-serif;
$colorMarronOscuro: #4C3327;
$colorMarronMedio: #C07C54;
$colorVainilla: #FCE193;
$colorGris: hsl(39, 23%, 88%);
$colorClaro: #FFFFFF;
$letraTituloGrande: 3rem;
$letraTitulo: 1.5rem;
$letraSubtitulo: 1.2rem;
$letraMenu: 1.2rem;
$letraParrafo: 1rem;
$margenSuperior: 100px;
$margenInferior: 100px;
$margenDerecho: 50px;
$margenIzquierdo: 25px;

